
build-PewPewMania-Desktop-Debug/

build-PewPewMania-Desktop_Qt_5_6_2_MSVC2013_64bit3-Debug/

Code/PewPewMania\.pro\.user\.f0e850f

Code/PewPewMania\.pro\.user

build-PewPewMania-Desktop_Qt_5_8_0_MSVC2015_64bit-Debug